# Cleaning

## Imports

In [1]:
import pandas as pd
import json
import sys
import os

sys.path.append(os.path.abspath('../src'))

import api.spotify.search as searcher

Collecting python-dotenv
  Using cached python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

In [7]:
base = pd.read_csv('../data/Most_Streamed_Spotify_Songs_2024_utf8.csv')
base.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

## Corrupted Characters

The creator of the CSV dataset improperly encoded the data when uploading, resulting in many corrupted characters, e.g.,

1. `Track` on Line **89**: TitÃ¯Â¿Â½Ã¯Â¿Â½ Me Pregu
2. `Album Name` on Line **28**: Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½

After unsuccessfully trying various decoding methods, I turned to Spotify's API to fix the corrupted text. Each track in the dataset has an ISRC (International Standard Recording Code), and Spotify provides ISRC metadata for most tracks. By matching ISRCs, I retrieve the correct metadata and replace the corrupted text with properly encoded UTF-8 values.

In [3]:
base_corrupt = base[['Track', 'Album Name', 'Artist', 'ISRC']]

In [14]:
base_corrupt[30:42]

,Track,Album Name,Artist,ISRC
30,Danza Kuduro - Cover,Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½ Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½Ã½...,LOVE BGM JPN,TCJPA2406007
31,SHEESH,BABYMONS7ER,BABYMONSTER,KRA402400016
32,Water,Water,Tyla,USSM12305126
33,Strangers,Strangers,Kenya Grace,USWB12305048
34,Too Sweet,Unreal Unearth: Unheard,Hozier,USSM12401865
35,What's Love Got to Do with It - 2023 Remaster,What's Love Got to Do with It (30th Anniversar...,Tina Turner,GBAYE2300351
36,A Bar Song (Tipsy),A Bar Song (Tipsy),Shaboozey,USUYG1541249
37,Lose Control,Lose Control,Teddy Swims,USWB12302315
38,fukumean,fukumean,Gunna,USAT22306575
39,Dance Monkey,Dance Monkey,Tones And I,QZES71982312
40,BIRDS OF A FEATHER,HIT ME HARD AND SOFT,Billie Eilish,USUM72401994
41,Cupid Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½ Twin Ver. (FIFTY FIFTY) Ã¯Â¿Â½Ã¯Â¿Â½...,Cupid Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½ Twin Ver. (FIFTY FIFTY) Ã¯Â¿Â½Ã¯Â¿Â½...,sped up 8282,KRA252300672

### Using the Spotify API to correct corrupted rows

All the code for Spotify API authentication and search functionalities is located in `src/api/spotify/` under the project root directory. Here, we find the corrupted rows in the dataset, and use the Spotify API to search for the correct values. The results are stored in accepted and rejected dataframes, where accepted holds all corrected rows (as well rows that were correct to begin with), and rejected holds rows that could not be corrected.

In [15]:
import pandas as pd
import time

def contains_non_ascii(s):
    """Check if string contains any non-ASCII characters."""
    return any(ord(c) >= 128 for c in str(s))

def corrupted_row(row):
    """Check if a row contains any non-ASCII strings."""
    return any(contains_non_ascii(row[col]) for col in ['Track', 'Album Name', 'Artist'])

def count_corrupted_rows(df):
    """Count corrupted rows."""
    return sum(corrupted_row(row) for _, row in df.iterrows())

def clean_corrupted_rows(df):
    """Correct corrupted rows."""
    accepted, rejected = [], []
    
    i = 0
    total_corrupted_rows = count_corrupted_rows(df)
    print('Corrupted rows processed:')
    
    for _, row in df.iterrows():
        if corrupted_row(row):
            result = searcher.search_isrc(row['ISRC'])
            time.sleep(0.5) # adhere to rate limit (conservatively ~120 req/min)
            if result:
                accepted.append(result)
            else:
                rejected.append(row.to_dict())
            i += 1
            print(f'{i}/{total_corrupted_rows} --- {round((i/total_corrupted_rows)*100)}% complete.')
        else:
            accepted.append(row.to_dict())
            
    return pd.DataFrame(accepted), pd.DataFrame(rejected)

accepted, rejected = clean_corrupted_rows(base_corrupt)

Corrupted rows processed:
1/595 --- 0% complete.
2/595 --- 0% complete.
3/595 --- 1% complete.
4/595 --- 1% complete.

2025-02-01 20:19:20,221 - WARNING - No results found for ISRC QZNJW2423715

5/595 --- 1% complete.
6/595 --- 1% complete.

2025-02-01 20:19:21,482 - WARNING - No results found for ISRC NZAM02001128

7/595 --- 1% complete.
8/595 --- 1% complete.
9/595 --- 2% complete.
10/595 --- 2% complete.
11/595 --- 2% complete.
12/595 --- 2% complete.
13/595 --- 2% complete.
14/595 --- 2% complete.
15/595 --- 3% complete.
16/595 --- 3% complete.
17/595 --- 3% complete.
18/595 --- 3% complete.
19/595 --- 3% complete.
20/595 --- 3% complete.
21/595 --- 4% complete.
22/595 --- 4% complete.
23/595 --- 4% complete.
24/595 --- 4% complete.
25/595 --- 4% complete.
26/595 --- 4% complete.
27/595 --- 5% complete.
28/595 --- 5% complete.
29/595 --- 5% complete.
30/595 --- 5% complete.
31/595 --- 5% complete.
32/595 --- 5% complete.
33/595 --- 6% complete.
34/595 --- 6% complete.
35/595 --- 6% complete.
36/595 --- 6% complete.
37/595 --- 6% complete.
38/595 --- 6% complete.
39/595 --- 7% complete.
40/595 --- 7% complete.
41/595 --- 7% complete.
42/595 --- 7% complete.

2025-02-01 20:19:45,943 - WARNING - No results found for ISRC QZLL92480334

43/595 --- 7% complete.
44/595 --- 7% complete.
45/595 --- 8% complete.
46/595 --- 8% complete.
47/595 --- 8% complete.
48/595 --- 8% complete.
49/595 --- 8% complete.
50/595 --- 8% complete.
51/595 --- 9% complete.
52/595 --- 9% complete.
53/595 --- 9% complete.
54/595 --- 9% complete.
55/595 --- 9% complete.
56/595 --- 9% complete.
57/595 --- 10% complete.
58/595 --- 10% complete.

2025-02-01 20:20:04,345 - WARNING - No results found for ISRC UKXN22459926

59/595 --- 10% complete.
60/595 --- 10% complete.
61/595 --- 10% complete.
62/595 --- 10% complete.
63/595 --- 11% complete.
64/595 --- 11% complete.
65/595 --- 11% complete.
66/595 --- 11% complete.
67/595 --- 11% complete.
68/595 --- 11% complete.
69/595 --- 12% complete.
70/595 --- 12% complete.
71/595 --- 12% complete.
72/595 --- 12% complete.
73/595 --- 12% complete.
74/595 --- 12% complete.
75/595 --- 13% complete.
76/595 --- 13% complete.
77/595 --- 13% complete.
78/595 --- 13% complete.
79/595 --- 13% complete.
80/595 --- 13% complete.
81/595 --- 14% complete.
82/595 --- 14% complete.
83/595 --- 14% complete.
84/595 --- 14% complete.
85/595 --- 14% complete.
86/595 --- 14% complete.
87/595 --- 15% complete.
88/595 --- 15% complete.
89/595 --- 15% complete.
90/595 --- 15% complete.
91/595 --- 15% complete.
92/595 --- 15% complete.
93/595 --- 16% complete.
94/595 --- 16% complete.
95/595 --- 16% complete.
96/595 --- 16% complete.
97/595 --- 16% complete.
98/595 --- 16% complete.
99/595 --- 17% complete.
100/595 --- 17% complete.
101/595 --- 17% complete.
102/595 --- 17% complete.
103/595 --- 17% complete.
104/595 --- 17% complete.
105/595 --- 18% complete.
106/595 --- 18% complete.
107/595 --- 18% complete.
108/595 --- 18% complete.
109/595 --- 18% complete.
110/595 --- 18% complete.
111/595 --- 19% complete.
112/595 --- 19% complete.
113/595 --- 19% complete.
114/595 --- 19% complete.
115/595 --- 19% complete.
116/595 --- 19% complete.
117/595 --- 20% complete.
118/595 --- 20% complete.
119/595 --- 20% complete.
120/595 --- 20% complete.
121/595 --- 20% complete.
122/595 --- 21% complete.
123/595 --- 21% complete.
124/595 --- 21% complete.
125/595 --- 21% complete.
126/595 --- 21% complete.

2025-02-01 20:20:48,070 - WARNING - No results found for ISRC FR6P11501180

127/595 --- 21% complete.
128/595 --- 22% complete.
129/595 --- 22% complete.
130/595 --- 22% complete.
131/595 --- 22% complete.
132/595 --- 22% complete.
133/595 --- 22% complete.
134/595 --- 23% complete.
135/595 --- 23% complete.
136/595 --- 23% complete.
137/595 --- 23% complete.
138/595 --- 23% complete.
139/595 --- 23% complete.
140/595 --- 24% complete.
141/595 --- 24% complete.
142/595 --- 24% complete.
143/595 --- 24% complete.
144/595 --- 24% complete.
145/595 --- 24% complete.
146/595 --- 25% complete.
147/595 --- 25% complete.
148/595 --- 25% complete.
149/595 --- 25% complete.
150/595 --- 25% complete.
151/595 --- 25% complete.
152/595 --- 26% complete.
153/595 --- 26% complete.
154/595 --- 26% complete.
155/595 --- 26% complete.
156/595 --- 26% complete.
157/595 --- 26% complete.
158/595 --- 27% complete.
159/595 --- 27% complete.
160/595 --- 27% complete.
161/595 --- 27% complete.
162/595 --- 27% complete.
163/595 --- 27% complete.
164/595 --- 28% complete.
165/595 --- 28% complete.
166/595 --- 28% complete.
167/595 --- 28% complete.
168/595 --- 28% complete.
169/595 --- 28% complete.
170/595 --- 29% complete.
171/595 --- 29% complete.
172/595 --- 29% complete.
173/595 --- 29% complete.
174/595 --- 29% complete.
175/595 --- 29% complete.
176/595 --- 30% complete.
177/595 --- 30% complete.
178/595 --- 30% complete.

2025-02-01 20:21:21,328 - WARNING - No results found for ISRC TCJPT2289709

179/595 --- 30% complete.
180/595 --- 30% complete.
181/595 --- 30% complete.
182/595 --- 31% complete.
183/595 --- 31% complete.
184/595 --- 31% complete.
185/595 --- 31% complete.
186/595 --- 31% complete.
187/595 --- 31% complete.
188/595 --- 32% complete.
189/595 --- 32% complete.
190/595 --- 32% complete.
191/595 --- 32% complete.
192/595 --- 32% complete.
193/595 --- 32% complete.
194/595 --- 33% complete.
195/595 --- 33% complete.
196/595 --- 33% complete.
197/595 --- 33% complete.
198/595 --- 33% complete.
199/595 --- 33% complete.
200/595 --- 34% complete.
201/595 --- 34% complete.
202/595 --- 34% complete.
203/595 --- 34% complete.
204/595 --- 34% complete.
205/595 --- 34% complete.

2025-02-01 20:21:38,371 - WARNING - No results found for ISRC FR6F31821340

206/595 --- 35% complete.
207/595 --- 35% complete.
208/595 --- 35% complete.
209/595 --- 35% complete.
210/595 --- 35% complete.
211/595 --- 35% complete.
212/595 --- 36% complete.
213/595 --- 36% complete.
214/595 --- 36% complete.
215/595 --- 36% complete.
216/595 --- 36% complete.
217/595 --- 36% complete.
218/595 --- 37% complete.
219/595 --- 37% complete.
220/595 --- 37% complete.
221/595 --- 37% complete.
222/595 --- 37% complete.
223/595 --- 37% complete.
224/595 --- 38% complete.
225/595 --- 38% complete.
226/595 --- 38% complete.
227/595 --- 38% complete.
228/595 --- 38% complete.
229/595 --- 38% complete.
230/595 --- 39% complete.
231/595 --- 39% complete.
232/595 --- 39% complete.
233/595 --- 39% complete.
234/595 --- 39% complete.
235/595 --- 39% complete.
236/595 --- 40% complete.
237/595 --- 40% complete.
238/595 --- 40% complete.
239/595 --- 40% complete.
240/595 --- 40% complete.
241/595 --- 41% complete.
242/595 --- 41% complete.
243/595 --- 41% complete.
244/595 --- 41% complete.
245/595 --- 41% complete.
246/595 --- 41% complete.
247/595 --- 42% complete.
248/595 --- 42% complete.
249/595 --- 42% complete.
250/595 --- 42% complete.
251/595 --- 42% complete.
252/595 --- 42% complete.
253/595 --- 43% complete.
254/595 --- 43% complete.
255/595 --- 43% complete.
256/595 --- 43% complete.
257/595 --- 43% complete.
258/595 --- 43% complete.
259/595 --- 44% complete.
260/595 --- 44% complete.
261/595 --- 44% complete.

2025-02-01 20:22:13,885 - WARNING - No results found for ISRC USDY42060410

262/595 --- 44% complete.
263/595 --- 44% complete.
264/595 --- 44% complete.
265/595 --- 45% complete.
266/595 --- 45% complete.
267/595 --- 45% complete.
268/595 --- 45% complete.
269/595 --- 45% complete.
270/595 --- 45% complete.
271/595 --- 46% complete.
272/595 --- 46% complete.
273/595 --- 46% complete.
274/595 --- 46% complete.
275/595 --- 46% complete.
276/595 --- 46% complete.
277/595 --- 47% complete.
278/595 --- 47% complete.
279/595 --- 47% complete.
280/595 --- 47% complete.
281/595 --- 47% complete.
282/595 --- 47% complete.
283/595 --- 48% complete.
284/595 --- 48% complete.
285/595 --- 48% complete.
286/595 --- 48% complete.
287/595 --- 48% complete.
288/595 --- 48% complete.

2025-02-01 20:22:31,166 - WARNING - No results found for ISRC QZ5AB1708080

289/595 --- 49% complete.
290/595 --- 49% complete.
291/595 --- 49% complete.
292/595 --- 49% complete.
293/595 --- 49% complete.
294/595 --- 49% complete.
295/595 --- 50% complete.
296/595 --- 50% complete.
297/595 --- 50% complete.
298/595 --- 50% complete.
299/595 --- 50% complete.
300/595 --- 50% complete.
301/595 --- 51% complete.
302/595 --- 51% complete.
303/595 --- 51% complete.
304/595 --- 51% complete.
305/595 --- 51% complete.
306/595 --- 51% complete.
307/595 --- 52% complete.
308/595 --- 52% complete.
309/595 --- 52% complete.
310/595 --- 52% complete.
311/595 --- 52% complete.
312/595 --- 52% complete.
313/595 --- 53% complete.

2025-02-01 20:22:47,547 - WARNING - No results found for ISRC TCADL1878978

314/595 --- 53% complete.
315/595 --- 53% complete.
316/595 --- 53% complete.
317/595 --- 53% complete.
318/595 --- 53% complete.
319/595 --- 54% complete.
320/595 --- 54% complete.
321/595 --- 54% complete.
322/595 --- 54% complete.
323/595 --- 54% complete.
324/595 --- 54% complete.
325/595 --- 55% complete.
326/595 --- 55% complete.
327/595 --- 55% complete.
328/595 --- 55% complete.
329/595 --- 55% complete.
330/595 --- 55% complete.
331/595 --- 56% complete.
332/595 --- 56% complete.
333/595 --- 56% complete.
334/595 --- 56% complete.
335/595 --- 56% complete.
336/595 --- 56% complete.

2025-02-01 20:23:02,527 - WARNING - No results found for ISRC BXIV82279381

337/595 --- 57% complete.
338/595 --- 57% complete.
339/595 --- 57% complete.
340/595 --- 57% complete.
341/595 --- 57% complete.
342/595 --- 57% complete.
343/595 --- 58% complete.
344/595 --- 58% complete.
345/595 --- 58% complete.
346/595 --- 58% complete.
347/595 --- 58% complete.
348/595 --- 58% complete.
349/595 --- 59% complete.
350/595 --- 59% complete.

2025-02-01 20:23:11,560 - WARNING - No results found for ISRC QZDA42300052

351/595 --- 59% complete.
352/595 --- 59% complete.
353/595 --- 59% complete.
354/595 --- 59% complete.
355/595 --- 60% complete.
356/595 --- 60% complete.
357/595 --- 60% complete.
358/595 --- 60% complete.
359/595 --- 60% complete.

2025-02-01 20:23:17,310 - WARNING - No results found for ISRC TRBUL2300064

360/595 --- 61% complete.
361/595 --- 61% complete.
362/595 --- 61% complete.
363/595 --- 61% complete.
364/595 --- 61% complete.
365/595 --- 61% complete.
366/595 --- 62% complete.
367/595 --- 62% complete.
368/595 --- 62% complete.
369/595 --- 62% complete.
370/595 --- 62% complete.
371/595 --- 62% complete.
372/595 --- 63% complete.
373/595 --- 63% complete.
374/595 --- 63% complete.
375/595 --- 63% complete.
376/595 --- 63% complete.
377/595 --- 63% complete.
378/595 --- 64% complete.
379/595 --- 64% complete.
380/595 --- 64% complete.
381/595 --- 64% complete.
382/595 --- 64% complete.
383/595 --- 64% complete.
384/595 --- 65% complete.
385/595 --- 65% complete.
386/595 --- 65% complete.
387/595 --- 65% complete.
388/595 --- 65% complete.
389/595 --- 65% complete.
390/595 --- 66% complete.
391/595 --- 66% complete.
392/595 --- 66% complete.
393/595 --- 66% complete.
394/595 --- 66% complete.
395/595 --- 66% complete.
396/595 --- 67% complete.
397/595 --- 67% complete.
398/595 --- 67% complete.
399/595 --- 67% complete.
400/595 --- 67% complete.
401/595 --- 67% complete.
402/595 --- 68% complete.
403/595 --- 68% complete.
404/595 --- 68% complete.
405/595 --- 68% complete.
406/595 --- 68% complete.
407/595 --- 68% complete.
408/595 --- 69% complete.
409/595 --- 69% complete.
410/595 --- 69% complete.
411/595 --- 69% complete.
412/595 --- 69% complete.
413/595 --- 69% complete.
414/595 --- 70% complete.
415/595 --- 70% complete.
416/595 --- 70% complete.
417/595 --- 70% complete.

2025-02-01 20:23:54,517 - WARNING - No results found for ISRC QZK6L2307991

418/595 --- 70% complete.
419/595 --- 70% complete.
420/595 --- 71% complete.
421/595 --- 71% complete.
422/595 --- 71% complete.
423/595 --- 71% complete.
424/595 --- 71% complete.
425/595 --- 71% complete.
426/595 --- 72% complete.
427/595 --- 72% complete.
428/595 --- 72% complete.
429/595 --- 72% complete.
430/595 --- 72% complete.

2025-02-01 20:24:02,733 - WARNING - No results found for ISRC MX2832415361

431/595 --- 72% complete.
432/595 --- 73% complete.
433/595 --- 73% complete.

2025-02-01 20:24:04,625 - WARNING - No results found for ISRC USHM21860309

434/595 --- 73% complete.
435/595 --- 73% complete.

2025-02-01 20:24:05,856 - WARNING - No results found for ISRC US7VG1878876

436/595 --- 73% complete.
437/595 --- 73% complete.
438/595 --- 74% complete.
439/595 --- 74% complete.
440/595 --- 74% complete.
441/595 --- 74% complete.
442/595 --- 74% complete.

2025-02-01 20:24:10,303 - WARNING - No results found for ISRC FR6F32336520

443/595 --- 74% complete.
444/595 --- 75% complete.
445/595 --- 75% complete.
446/595 --- 75% complete.
447/595 --- 75% complete.
448/595 --- 75% complete.
449/595 --- 75% complete.
450/595 --- 76% complete.
451/595 --- 76% complete.
452/595 --- 76% complete.
453/595 --- 76% complete.
454/595 --- 76% complete.
455/595 --- 76% complete.
456/595 --- 77% complete.
457/595 --- 77% complete.
458/595 --- 77% complete.
459/595 --- 77% complete.
460/595 --- 77% complete.
461/595 --- 77% complete.
462/595 --- 78% complete.
463/595 --- 78% complete.
464/595 --- 78% complete.
465/595 --- 78% complete.
466/595 --- 78% complete.
467/595 --- 78% complete.
468/595 --- 79% complete.
469/595 --- 79% complete.
470/595 --- 79% complete.
471/595 --- 79% complete.
472/595 --- 79% complete.
473/595 --- 79% complete.
474/595 --- 80% complete.
475/595 --- 80% complete.
476/595 --- 80% complete.
477/595 --- 80% complete.
478/595 --- 80% complete.
479/595 --- 81% complete.
480/595 --- 81% complete.
481/595 --- 81% complete.
482/595 --- 81% complete.
483/595 --- 81% complete.
484/595 --- 81% complete.
485/595 --- 82% complete.
486/595 --- 82% complete.
487/595 --- 82% complete.
488/595 --- 82% complete.
489/595 --- 82% complete.
490/595 --- 82% complete.
491/595 --- 83% complete.
492/595 --- 83% complete.
493/595 --- 83% complete.
494/595 --- 83% complete.
495/595 --- 83% complete.
496/595 --- 83% complete.
497/595 --- 84% complete.
498/595 --- 84% complete.
499/595 --- 84% complete.
500/595 --- 84% complete.
501/595 --- 84% complete.
502/595 --- 84% complete.
503/595 --- 85% complete.
504/595 --- 85% complete.
505/595 --- 85% complete.
506/595 --- 85% complete.
507/595 --- 85% complete.
508/595 --- 85% complete.
509/595 --- 86% complete.
510/595 --- 86% complete.
511/595 --- 86% complete.
512/595 --- 86% complete.
513/595 --- 86% complete.
514/595 --- 86% complete.
515/595 --- 87% complete.
516/595 --- 87% complete.
517/595 --- 87% complete.
518/595 --- 87% complete.
519/595 --- 87% complete.
520/595 --- 87% complete.
521/595 --- 88% complete.
522/595 --- 88% complete.
523/595 --- 88% complete.
524/595 --- 88% complete.
525/595 --- 88% complete.

2025-02-01 20:25:03,641 - WARNING - No results found for ISRC KRE672200293

526/595 --- 88% complete.

2025-02-01 20:25:04,239 - WARNING - No results found for ISRC QZMHN2025919

527/595 --- 89% complete.
528/595 --- 89% complete.
529/595 --- 89% complete.
530/595 --- 89% complete.
531/595 --- 89% complete.
532/595 --- 89% complete.
533/595 --- 90% complete.
534/595 --- 90% complete.
535/595 --- 90% complete.
536/595 --- 90% complete.
537/595 --- 90% complete.
538/595 --- 90% complete.
539/595 --- 91% complete.
540/595 --- 91% complete.
541/595 --- 91% complete.
542/595 --- 91% complete.
543/595 --- 91% complete.
544/595 --- 91% complete.
545/595 --- 92% complete.
546/595 --- 92% complete.
547/595 --- 92% complete.
548/595 --- 92% complete.
549/595 --- 92% complete.
550/595 --- 92% complete.
551/595 --- 93% complete.
552/595 --- 93% complete.
553/595 --- 93% complete.
554/595 --- 93% complete.
555/595 --- 93% complete.
556/595 --- 93% complete.
557/595 --- 94% complete.
558/595 --- 94% complete.
559/595 --- 94% complete.
560/595 --- 94% complete.
561/595 --- 94% complete.
562/595 --- 94% complete.
563/595 --- 95% complete.
564/595 --- 95% complete.
565/595 --- 95% complete.
566/595 --- 95% complete.
567/595 --- 95% complete.
568/595 --- 95% complete.
569/595 --- 96% complete.
570/595 --- 96% complete.
571/595 --- 96% complete.
572/595 --- 96% complete.
573/595 --- 96% complete.
574/595 --- 96% complete.
575/595 --- 97% complete.
576/595 --- 97% complete.
577/595 --- 97% complete.
578/595 --- 97% complete.
579/595 --- 97% complete.
580/595 --- 97% complete.
581/595 --- 98% complete.
582/595 --- 98% complete.
583/595 --- 98% complete.
584/595 --- 98% complete.
585/595 --- 98% complete.
586/595 --- 98% complete.
587/595 --- 99% complete.

2025-02-01 20:25:43,328 - WARNING - No results found for ISRC FR0Z50062905

588/595 --- 99% complete.
589/595 --- 99% complete.

2025-02-01 20:25:44,553 - WARNING - No results found for ISRC FR10S1809158

590/595 --- 99% complete.
591/595 --- 99% complete.
592/595 --- 99% complete.
593/595 --- 100% complete.
594/595 --- 100% complete.
595/595 --- 100% complete.

There are only 22 corrupted rows that could not be corrected. Given the number of rows the original dataset, and the fact that keeping these rows with faulty ISRCs would be problematic for further API calls, I exclude them from the dataset.

In [18]:
rejected.head()

,Track,Album Name,Artist,ISRC
0,Dona Felicidade,Dona Felicidade,Patati PatatÃ¯Â¿,QZNJW2423715
1,Laxed Ã¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½ Sire,Laxed (Siren Beat),Jawsh 685,NZAM02001128
2,I DONÃ¯Â¿Â½Ã¯Â¿Â½Ã¯Â¿Â½T WANNA DO THIS A,King of the Dead,JuliÃ¯Â¿Â½Ã¯Â¿Â½n Kh,QZLL92480334
3,Cuando Te AmÃ¯Â¿,Cuando Te AmÃ¯Â¿Â½Ã¯Â¿Â½ - Si,Cupula Roja,UKXN22459926
4,Lean On (feat. MÃ¯Â¿Â½Ã¯Â¿Â½ & DJ Snake) - J Balvin ...,Lean On (feat. MÃ¯Â¿Â½Ã¯Â¿Â½ & DJ Snake) [J Balvin &...,Major Lazer,FR6P11501180

In [22]:
len(rejected)

22

### Joining the base dataframe and accepted dataframe

Now the accepted dataframe and base dataframe can be joined. To do this, an inner merge is appropriate, because accepted has less rows than the base dataframe, and we want to drop rows that are in the rejected dataframe.

In [27]:
accepted.head()

,Track,Album Name,Artist,ISRC
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,QM24S2402528
1,Not Like Us,Not Like Us,Kendrick Lamar,USUG12400910
2,i like the way you kiss me,I like the way you kiss me,Artemas,QZJ842400387
3,Flowers,Flowers - Single,Miley Cyrus,USSM12209777
4,Houdini,Houdini,Eminem,USUG12403398

In [29]:
# drop info columns from base dataframe for easy merge
base_to_merge = base.drop(columns=['Track', 'Album Name', 'Artist'])
base_to_merge.head()

,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",92.0,"84,274,754","1,713,126",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",92.0,"116,347,040","3,486,739",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",92.0,"122,599,116","2,228,730",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",85.0,"1,096,100,899","10,629,796",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",88.0,"77,373,957","3,670,188",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

We should expect to get `len(accepted) = 4578` rows after merging.

In [47]:
print(f'{len(base_to_merge)} - {len(rejected)} = {len(accepted)}')

4600 - 22 = 4578

In [34]:
# inner merge accepted and base_to_merge dataframes
base_not_corrupt = base_to_merge.merge(accepted, on='ISRC', how='inner')
base_not_corrupt.head()

,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,...,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track,Track,Album Name,Artist
0,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",92.0,"84,274,754","1,713,126",...,114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman
1,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",92.0,"116,347,040","3,486,739",...,111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1,Not Like Us,Not Like Us,Kendrick Lamar
2,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",92.0,"122,599,116","2,228,730",...,172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0,i like the way you kiss me,I like the way you kiss me,Artemas
3,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",85.0,"1,096,100,899","10,629,796",...,210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0,Flowers,Flowers - Single,Miley Cyrus
4,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",88.0,"77,373,957","3,670,188",...,105.0,"4,493,884","7,006","207,179","457,017",NaN,1,Houdini,Houdini,Eminem

In [41]:
len(base_not_corrupt)

4582

### Removing duplicate rows

We get 4 additional rows. Why? Lets check for duplicated rows:

In [40]:
base_not_corrupt[base_not_corrupt['ISRC'].duplicated()]

,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,...,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track,Track,Album Name,Artist
2441,9/2/2022,TCAGJ2289254,"2,424",28.9,"227,893,586","28,139","12,480,714",73.0,"30,913,276","159,791",...,49.0,"56,972,562","26,968","1,336,043","708,143",NaN,0,Tennessee Orange,Tennessee Orange,Megan Moroney
2442,9/2/2022,TCAGJ2289254,"2,424",28.9,"227,893,586","28,139","12,480,714",73.0,"30,913,276","159,791",...,49.0,"56,972,562","26,968","1,336,043","708,143",NaN,0,Tennessee Orange,Tennessee Orange,Megan Moroney
2443,9/2/2022,TCAGJ2289254,"2,424",28.9,"227,893,586","28,139","12,480,714",73.0,"30,913,276","159,791",...,49.0,"56,972,562","26,968","1,336,043","708,143",NaN,0,Tennessee Orange,Tennessee Orange,Megan Moroney
3433,12/8/2017,USWL11700269,"3,441",23.3,"579,189,526","60,397","11,805,084",65.0,"828,853,696","3,086,157",...,12.0,"6,723,858","7,832",NaN,"1,619,550",NaN,0,Dembow,Dembow,Danny Ocean
3434,12/8/2017,USWL11700269,"3,441",23.3,"579,189,526","60,397","11,805,084",65.0,"828,853,696","3,086,157",...,12.0,"6,723,858","7,832",NaN,"1,619,550",NaN,0,Dembow,Dembow,Danny Ocean
3435,12/8/2017,USWL11700269,"3,441",23.3,"579,189,526","60,397","11,805,084",65.0,"828,853,696","3,086,157",...,12.0,"6,723,858","7,832",NaN,"1,619,550",NaN,0,Dembow,Dembow,Danny Ocean

We can see we have 4 duplicated rows. Lets remove these:

In [48]:
base_not_corrupt = base_not_corrupt.drop_duplicates(subset=['ISRC'], keep='first')
len(base_not_corrupt)

4576

We lost an additional 2 rows because the accepted dataframe already had duplicates. We are now duplicate free:

In [52]:
base_not_corrupt['ISRC'].duplicated().any()

False

### Reordering the columns

Finally, lets move `Track`, `Album Name`, and `Artist` back to the first beginning of the dataframe, along with `ISRC`.

In [53]:
col_to_move = ['ISRC', 'Track', 'Album Name', 'Artist']

col_order = col_to_move + [col for col in base_not_corrupt.columns if col not in col_to_move]

base_not_corrupt = base_not_corrupt[col_order]
base_not_corrupt.head()

,ISRC,Track,Album Name,Artist,Release Date,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,QM24S2402528,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,USUG12400910,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,QZJ842400387,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,USSM12209777,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,USUG12403398,Houdini,Houdini,Eminem,5/31/2024,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

### Saving the non-corrupted dataset

In [54]:
base_not_corrupt.to_csv('../data/base.csv', index=False, encoding='utf-8')